<div class="map-box">
    <div id="googleMap"></div>

    <div class="form-box">
        <div class="row">
            <h2>Signup to Our Newsletter</h2>
        </div>
        <div class="row">
            <form method="post" action="#" class="contact-form">                

                <div class="row">
                    <div class="col span_3_of_3">
                        <input type="email" name="email" id="email" placeholder="Your email" required>
                    </div>
                </div>

                <div class="col span_3_of_3">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('googleMap'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJFLNQY-O8TsPrff0Hsa0eImB9o4fBvT4&callback=initMap"
async defer></script>