<section class="section-lisbon">
		<div class="slide__padding">
			<div class="">
				<h2>You'll Fall in Love With Lisbon</h2>
			</div>
			<div class="section-lisbon__container row">
				<div class="section-lisbon__block ref__yotg col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Praça do Rossio</h3>
					<p>Rossio Square is Lisbon’s liveliest square. Stop by Pastelaria Suíça – a shop where you can try Ginjinha, a cherry-flavoured Portuguese spirit.</p>
				</div>
				<div class="section-lisbon__block ref__ge col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Chiado</h3>
					<p>The city’s Chiado district makes for a chic mix of small boutiques, larger chain stores, luxury brands like Hermès and quirky restaurants. Once the centre of intellectual life in Lisbon, you’ll still come across a number of theatres and museums in the area.</p>
				</div>
				<div class="section-lisbon__block ref__mazel col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Praça do Comércio</h3>
					<p>Here you’ll find some of Lisbon’s most historic structures. Call into Café Martinho da Arcada – Lisbon’s oldest café and one-time haunt of writers Fernando Pessoa, Almeida Garrett and Eça de Queirós – on the north side of the square.</p>
				</div>
				<div class="section-lisbon__block ref__am col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Santa Justa Lift</h3>
					<p>The Santa Justa Lift is the only remaining vertical elevator in Lisbon. It’s a 43 ft-high work of Neo-Gothic beauty that connects the streets of the city’s Baixa district with Carmo Square.</p>
				</div>
				<div class="section-lisbon__block ref__pg col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Rua Augusta</h3>
					<p>Possibly Lisbon’s busiest street, Rua Augusta opens up off Praça do Comércio through the famous Rua Augusta Arch. It’s the place to hit for outdoor cafés, street vendors and international shops.</p>
				</div>
				<div class="section-lisbon__block ref__vk col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Belém Tower</h3>
					<p>Built in 1515 as a monument to Portugal’s Age of Discovery, the Tower was the starting point of many of the great Portuguese explorations in the 16th century.</p>
				</div>
				<div class="section-lisbon__block ref__amm col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Museu Calouste Gulbenkian</h3>
					<p>Back in 1955, oil magnate Calouste Gulbenkian left his art collection to the Portuguese state – Museu Calouste Gulbenkian was established a year later. The museum houses works by Rubens, Rembrandt, Rodin, Renoir and Van Dyck.</p>
				</div>
				<div class="section-lisbon__block ref__pgg col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Bairro Alto</h3>
					<p>Head to the Bairro for a drink in one of Lisbon’s Fado bars after a day’s sightseeing. Fado is a form of Portuguese folk music – enjoy it with a caipirinha, a cocktail made with cachaça, sugar and lime.</p>
				</div>
				<div class="section-lisbon__block ref__vkk col span_1_of_3">
					<a href="#" target="_blank" class="section-lisbon__link"><span>mehr</span></a>
					<h3>Ericeira</h3>
					<p>Ericeira is home to world-class sandbars and beach and reef breaks suitable for surfers of all abilities. The Ribeira d’Ilhas beach in the town regularly hosts a round of the ASP World Surf Tour.</p>
				</div>
			</div>
		
		</div><!-- .slide__padding -->

</section>

