@import 'fix';

.section-lisbon .section-lisbon__container {
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    // -webkit-flex-direction: row;
    // -ms-flex-direction: row;
    // flex-direction: row;
    // -webkit-flex-wrap: wrap;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;
    // -webkit-flex-flow: row wrap;
    // -ms-flex-flow: row wrap;
    // flex-flow: row wrap;
    // -webkit-align-content: center;
    // -ms-flex-line-pack: center;
    // align-content: center;
    min-width: 99%;
}

.section-lisbon .section-lisbon__block {
    // -webkit-box-flex: 1;
    // -webkit-flex: 1 0 -webkit-calc(33.3% - 1em);
    // -ms-flex: 1 0 calc(33.3% - 1em);
    // flex: 1 0 calc(33.3% - 1em);

    &:first-child {
        margin-left: 5px;
    }
}

.section-lisbon .section-lisbon__block {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    min-height: 25vh;
    margin: 0.3em;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.12);
    overflow: hidden;
}

.section-lisbon .section-lisbon__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    text-transform: uppercase;
    z-index: 5;
}

// .section-container .slide {
//     position: relative;
//     min-height: 100vh;
//     background-color: #4183c4;
//     overflow: hidden;
// }

.section-lisbon .slide__padding {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

// .section-container .slide .slide__pagetitle {
//     display: block;
//     text-align: center;
// }

// .section-lisbon .section-lisbon__block {
//     -webkit-box-flex: 1;
//     -webkit-flex: 1 0 -webkit-calc(33.3% - 1em);
//     -ms-flex: 1 0 calc(33.3% - 1em);
//     flex: 1 0 calc(33.3% - 1em);
// }

.section-lisbon .section-lisbon__block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: opacity 0.5s,-webkit-filter 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-filter 0.5s,-webkit-transform 0.5s;
    transition: filter 0.5s,opacity 0.5s,transform 0.5s;
    transition: filter 0.5s,opacity 0.5s,transform 0.5s,-webkit-filter 0.5s,-webkit-transform 0.5s;
}

.section-lisbon .section-lisbon__link span {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    padding: 0.5em;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.section-lisbon .section-lisbon__block p {
    padding: 0 0.8rem 1rem;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 90%;
    font-weight: 200;
}


.section-lisbon .section-lisbon__block h3 {
    padding: 0.8em 0.8rem;
    margin-bottom: 0;
}

.section-lisbon .section-lisbon__block.ref__yotg::before {
    background: url("city/Rossio-Square-ec3f200f61d13d00da28aa766e0722d712fad2bccbe949de5bdeeae19d25c2c2.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__ge::before {
    background: url("city/Chiado-86bc315d6caaabcccb0873f5fd263230abe641b3970ff4526fc42078a8668201.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__mazel::before {
    background: url("city/Praca-6ea3f68b28501ef73b30dd19735083d140ecb3ef514509a6186f35bf42616bc4.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__am::before {
    background: url("city/Santa-Justa-Lift-ac77504a3b445ab92468b4a9b31e36566a8039e87a2c30bc4a742d4446de7479.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__pg::before {
    background: url("city/Rua-Augusta-75baf3c217316ffd0f3855df1688a49c5becd7f8da2c3f1915a1ec3d28d3ede2.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__vk::before {
    background: url("city/Belem-Tower-661c24fb4d442d7d66c2b99eb93131689b3377fd85fff15dfd088062df2dad8a.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__amm::before {
    background: url("city/Museu-Calouste-Gulbenkian-2f717fe6190005aaf5cb37ba00725c88cfd334903ab08e85e062e1621ec92d00.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__pgg::before {
    background: url("city/Bairro-Alto-d863320b63b4c4b3e708ad63e92adaf17b5311ebad6f200a2960b568792d4a00.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block.ref__vkk::before {
    background: url("city/Ericeira-4c45b2af7283aa4e4d72f2962a5b86f5c13f68e9389ee826a4362a08ca474c74.jpg") no-repeat center;
    background-size: cover;
}

.section-lisbon .section-lisbon__block:hover::before {
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.section-lisbon .section-lisbon__block:hover span {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.section-lisbon .section-lisbon__block:hover h3 {
    background: rgba(0,0,0,0.4);
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.section-lisbon .section-lisbon__block:hover p {
    opacity: 0;
    -webkit-transition: background 0.5s;
    transition: opacity 0.5s;
}

.section-lisbon {
    color: #fff;
    // background: linear-gradient(rgb(0, 10, 58), rgb(58, 58, 58),rgb(0, 10, 58)), url("") no-repeat center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #010b41, #000520);
    background-size: cover;
    padding-top: 0;
    background-attachment: fixed;
}

.section-lisbon .section-lisbon__block h3, .section-lisbon .section-lisbon__block p {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 3;
}
